body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    background-color: #fefefe;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul>li {
    list-style: none;
}

ul>li>a,
.socialIcons>a {
    text-decoration: none;
}

header {
    background: #566fb5;
    overflow: hidden;
    min-height: 500px;
}

.main-heading{
    color: #fefefe;
}

header a {
    color: #fefefe;
    font-size: 14px;
}

.flex-container {
    display: flex;
    align-items: center;
    padding: 8px 32px;
}

#branding {
    cursor: pointer;
    color: #fefefe;
}

.st0 {
    fill: #ffffff;
}

.st1 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #ffffff;
}

nav {
    margin-left: 500px;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-left: 50px;
}

hr {
    opacity: 0.6;
}

.container h1 {
    margin-left: 17rem;
    padding-top: 2rem;
}

.card {
    background-color: #fefefe;
    width: 70vw;
    min-height: 60vh;
    filter: drop-shadow(2px 2px 1em rgba(0, 0, 0, 0.2));
    position: absolute;
    border-radius: 15px;
    left: 18%;
    top: 23%;
}

.card-heading{
    padding: 0.2rem 2rem;
    color: #1782d9;
    font-weight: 400;
    font-size: 20px;
}

.card img {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 27rem;
    height: 42rem;
}

.support-container{
    background-color: #f8ebeb;
    width: 49vw;
    min-height: 20vh;
    border-radius: 0 10px 10px 0;
}

.country-details{
    display: flex;
    justify-content: space-around;
}

.country-card{
    padding: 1rem 1.6rem;
    color: black;
}

.country-name{
    color: gray;
    font-weight: 500;
}

.country-number, .service-header{
    color: red;
}

.country-description{
    margin-left: 2rem;
    padding: 7px;
    display: flex;
     gap: 3rem;
    font-size: 12px;
}

.services{
    display: flex;
    width: 40vw;
    gap: 1rem;
    padding: 0 2rem;
}

.service-header{
    font-size: 16px;
}

.service-details{
font-size: 14px;
color: #1782d9;
font-weight: 500;
}

.service-header{
    font-size: 16px;
    font-weight: 500;
}

.vertical-divider{
    height: 6vh;
    width:0.1vw;
    margin-top: 3rem;
    border-width:0;
    border-right: 1px dotted black;
}

.country-divider{
    margin: 2rem 0 1rem 0;
    opacity: 0.2;
}

.service-timings{
    color: gray;
}

.last-description{
    color: grey;
    opacity: 0.7;
    margin-bottom: 2rem;
    padding: 0 2rem;
    font-size: 14px;
}

.footer-section {
    width: 60vw;
    min-height: 40vh;
    margin: auto;
}

.copyright {
    width: 60vw;
    min-height: 5vh;
    margin: auto;
}

footer {
    background: rgba(32, 36, 47, 255);
    padding: 10px;
    color: #fefefe;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.wrapper>div>ul>li>a,
.socialIcons>a {
    color: rgb(130, 134, 143);
}

.copyright > .wrapper{
display: flex;
align-items: center;
}

.icons-section{
    margin-top: 10vh;
    min-height: 40vh;
    width: 100%;
    /* background-color: #566fb5; */
}

.card-container{
    width: 60%;
    margin: auto;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.card-horizontal{
    border-bottom: 1px dotted black;
}

.card-section {
    padding: 4px 16px;
    background-color: #fefefe;
    min-width: 30vw;
    min-height: 30vh;
    filter: drop-shadow(3px 3px 0.8em rgba(0, 0, 0, 0.1));
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.card-header{
color: #1782d9;
font-weight: 500;
font-size: 18px;
}

.full-card{
    padding: 0px 20px;
}

.half-card{
    padding-top: 0.4rem;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.small-flex{
    width: 35vw;
    display: flex;
    align-items: center;
}

.form-section{
    margin-top: 42vh;
    background: #f5f8fb;
    min-height: 60vh;
}

.form-container{
    padding: 40px;
    width: 60vw;
    margin: auto;
}

.form-row{
    display: flex;
    gap: 2.5rem;
    margin-bottom: 1.5rem;
}

select{
    width: 29vw;
    margin-top: 1rem;
    padding: 10px;
    height: 6vh;
    border-radius: 4px;
}

input{
    margin-top: 1rem;
    width: 28vw;
    padding-left: 10px;
    height: 5vh;
    border-radius: 4px;
}

textarea{
    width: 100%;
    margin-top: 1rem;
}

#submit-btn{
    background-color: #1782d9;
    color: #fefefe;
    cursor: pointer;
    padding: 12px 20px;
    margin-top: 20px;
    border: 2px solid #1782d9;
    border-radius: 6px;
}

#main-error, #email-error, #phone-number-error{
color: red;
}

.form-headers{
    display: flex;
    justify-content: space-around;
    font-weight: 400;
    font-size: 14px;
}

.idrive-user, .idrive-reseller, .idrive-bulk-reseller{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
}

.horizontal-tag{
    margin-top: 0;
    margin-bottom: 2rem;
}

.tab-btn{
    padding: 20px 25px;
    background-color: #f5f8fb;
    border: none;
    cursor: pointer;
}

.tab-btn.active{
    background-color: #fefefe;
    color: #1782d9;
    padding: 20px;
    width: 15vw;
    border: none;
    border-radius: 2px;
    border-bottom: 5px solid #1782d9;
}
